@import "components/_my-modal.css";

@import "sections/_introduction.css";
@import "sections/_jouer.css";

html, body {
    overflow-y: auto;
    overflow-x: hidden;
}

section[data-name]:not(.show) {
    display: none;
}