section[data-name="leaderboard"] {
    /*height: 100vh;*/
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section[data-name="leaderboard"] input[type="radio"][name="difficulte"] {
    display: none;
}